# EditorConfig is awesome: https://editorconfig.org

# Root configuration file
root = true

# Default rules for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# PHP, HTML and Twig files use 4-space indentation
[*.{php,html,twig}]
indent_size = 4
